<template name="tmplMyTasks">
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>My Tasks</h1>
          <p class="lead">This is my list of tasks</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-offset-1 col-md-8">
          <div class="bs-component">
            {{#each task in tasks}}
              {{> tmplTaskItem task=task showDone=true}}
            {{else}}
              {{> tmplListEmpty listName="tasks"}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
