<template name="tmplProjects">
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Projects</h1>
          <p class="lead">Define new or edit existing projects</p>
        </div>
      </div>
      <div class="row">
        <button id="createProject" class="btn btn-primary" type="button">Create new project</button>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-offset-1 col-md-8">
          <div class="bs-component">
            {{#each projects}}
              {{> tmplProjectItem }}
            {{else}}
              {{> tmplListEmpty listName="projects"}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
