<template name="tmplProjects">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Projects</h1>
          <p class="lead">Defaine new or edit existing projects</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-8">
          <div class="bs-component">
            <p>
              There are no projects yet ...
            </p>
          </div>
        </div>
      </div>
    </div>
</template>
